header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin-top:-2%;
    margin-bottom: 4em;
}
body{
    background-color: rgb(231, 231, 231);
}
header h1{
    margin-left:10%;
    margin-bottom: 1em;
    font-size:  1em;
    font-family: 'Times New Roman', Times, serif;

    font-size:3em;
}
.btn1{
    border-radius: 5em;
    width: 40%;
    border: none;
    padding: 2%;
    margin-top: 3%;
    margin-right: 12em;
    color: aliceblue;
    font-size: large;
    background-color: rgb(27, 27, 73);
}
.container{
    margin-top: 10%;
    font-size: xx-large;
}
#s1{
    margin-left:10%;
    display: grid;
    grid-template-columns: auto auto;
}
img{
    margin-left: 25%;
    margin-top: -44%;
}

.btn2{
    border-radius: 5em;
    width: 30%;
    padding: 1%;
    margin-top: 3%;
    font-size: large;
    color: aliceblue;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background: linear-gradient( rgb(253, 29, 115) 5%, rgb(255, 0, 191) 100%);
}
p{
    margin-left: 5%;
}
.check{
    margin-top: 10%;
    margin-right:15% ;
    color: aliceblue;
    border: none;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background:linear-gradient( rgb(253, 29, 115) 5%, rgb(255, 0, 191) 100%) ;
    font-size: xx-large;
}

.animation h1{
    color: rgb(19, 19, 100);
}
.animation{
    margin-top: 15%;
    margin-right: 15%;
    color: rgba(80, 82, 83, 0.767);
    border: none;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.animation a{
    text-decoration:none;
    font-weight: bold;
    font-size:x-large;
    color:rgb(252, 89, 152) ;
}
.icon{
    margin-left: 0%;
    margin-top: -15%;
}

.design h1{
    color: rgb(19, 19, 100);
}
.design{
    margin-top: 15%;
    color: rgba(80, 82, 83, 0.767);
    border: none;
    margin-right: 15%;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.design a{
    text-decoration:none;
    font-weight: bold;
    font-size:x-large;
    color:rgb(252, 89, 152) ;
}


.photography h1{
    color: rgb(19, 19, 100);
}
.photography{
    margin-top: 15%;
    color: rgba(80, 82, 83, 0.767);
    border: none;
    margin-right: 15%;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.photography a{
    text-decoration:none;
    font-weight: bold;
    font-size:x-large;
    color:rgb(252, 89, 152) ;
}

.crypto h1{
    color: rgb(19, 19, 100);
}
.crypto{
    margin-top: 15%;
    color: rgba(80, 82, 83, 0.767);
    border: none;
    margin-right: 15%;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.crypto a{
    text-decoration:none;
    font-weight: bold;
    font-size:x-large;
    color:rgb(252, 89, 152) ;
}


.Business h1{
    color: rgb(19, 19, 100);
}
.Business{
    margin-top: 15%;
    color: rgba(80, 82, 83, 0.767);
    border: none;
    margin-right: 15%;
    padding: 2%;
    text-align: center;
    border-radius:1em ;
    cursor: pointer;
    background: rgb(255, 255, 255);
}
.Business a{
    text-decoration:none;
    font-weight: bold;
    font-size:x-large;
    color:rgb(252, 89, 152) ;
}
#s2{
    margin-left:10%;
    display: grid;
    grid-template-columns: auto auto auto;
}
footer{
    color: rgb(253, 253, 253);
    background: rgb(255, 255, 255);
    margin-top: 15%;
    margin-bottom: 15%;
    display:flex;
    justify-content: space-between;
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 2%;
    background: rgb(15, 4, 114);
    width: 100%;
    height: 100%;
}
.btn3{
    border-radius: 5em;
    margin-top:1%;
    height: 40%;
    padding: 1%;
    margin-right:10%;
    font-size: large;
    color: aliceblue;
    border: none;
    cursor: pointer;
    background: linear-gradient( rgb(174, 0, 255) 5%, rgb(255, 0, 140) 100%);   
}
footer h1{
    margin-left: 6%;
    font-size: xx-large;
    color: rgb(255, 255, 255);
}

